.bg-card{
  background-color: rgba(212, 190, 167, 0.5);;
}
h1:first-child{
  color: #353334d2;
}
.rounded{
  border-radius: 10px !important;
  border-color: #d4bea7 !important;
}
h1{
  color: #110b0ae1;
}

.card {
  /* Your existing styles */
  transition: box-shadow 0.3s ease; /* Adding transition for smooth effect */
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all ease 0.2s;
}
