<div class="container">
  <!-- currency time and rest time  of next prayer -->
  <app-header [cityInput]="selectedCity"></app-header>

  <!-- list of Prays -->
  <div class="d-flex justify-content-center mt-5 mb-5" *ngIf="showButton" (click)="toggleButton() ">
    <button class="btn btn-danger fs-3" routerLink="listOfPrayers" >أوقات الصلوات</button>
  </div>
  
  <router-outlet></router-outlet>


  <!-- select field -->
  <app-footer (cityFromOutput)="handleCityChange($event)"></app-footer>

</div>

